*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Poppins;
    font-weight: 400;
}
html,body
{
    width:100%;
    height:100%;
}
.main
{
    height: 100%;
    width: 100%;
    background-color: rgb(221, 212, 212);
}
.nav
{
    height: 10%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap:2vmax;
}
.nav h4
{
    font-size: 1.3vmax;
}
#bag
{
    background-color: rgb(46, 12, 46);
    height: 3.5vmax;
    width: 3.5vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 2vmax;
}
#bag i
{
    font-size: 1.8vmax;
    color: white;
}
/* navbar completed */
.headline
{
    height: 30%;
    width: 100%;
    padding-right:35vw;
    padding-left: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    line-height: 1.5;
    font-size: 1.5vmax;
}
.headline h1
{
    font-weight: 400;
}
.middle
{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2vmax;
}
.subtitle
{
    height: 100%;
    width: 50%;
    font-size: 1.2vmax;
    padding: 2vmax 4vmax;
}
.options
{
    height: 100%;
    padding-top: 1.5vmax;
    padding-right: 10vw;
    font-size: 1.1vmax;
}
.options div
{
    width: 140%;
    padding:0.5vw 0;
    border-top:2px solid black;
    display: flex;
    justify-content: space-between;
}
.options div i
{
    font-size: 1.2vmax;
    opacity: 0;
    margin-top:0.2vw;
}
.options div a
{
    text-decoration: none;
    color: black;
}
.options div:hover a
{
    text-decoration: underline;
}
.options div:hover i
{
    text-decoration: none;
    opacity: 1;
}
.bottom
{
    height: 35%;
    width: 100%;
}
.bottom img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media screen and (max-height:1000px) and (max-width:800px) 
{
    .main
    {
        height: 100%;
        width: 100%;
    }
    /* navigation bar needs to be adjusted */
    .nav
    {
        height: 10%;
    }
    .nav h4
    {
        font-size: 1.5vmax;
    }
    /* elements in nav bar are already adjusted */
    /* headline needs to be adjusted perfectly */
    .headline
    {
        height: 25%;
        padding-right: 10vmax;
        padding:2vmax 3vmax;
        font-size: 2.17vmax;
    }
    /* headline adjusted */
    .middle
    {
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .subtitle
    {
        height: 35%;
        width: 100%;
        font-size: 2.3vmax;
        padding:0 3vmax;
    }
    .options
    {
        height: 65%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 4vmax 4vmax;
    }
    .options div
    {
        width: 75%;
    }
    .options div a
    {
        font-size: 2.7vmax;
    }
    .options div i
    {
        font-size: 2.7vmax;
    }
    .bottom
    {
        height: 25%;
        width: 100%;
    }
}